@model List<OrderDetailViewModel>
@{
    ViewData["Title"] = "Order detail";
}

<div class="container mt-4">
    <nav aria-label="breadcrumb" class="pb-0 py-3 border-bottom">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Order Detail</li>
        </ol>
    </nav>

    <div class="intro-section mt-3 mb-5 pb-5">
        <h4 class="mb-3 text-dark text-uppercase">Order detail / #@ViewBag.OrderInfo.OrderId</h4>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center" style="width: 45%">Product</th>
                                    <th scope="col" class="text-center">Quality</th>
                                    <th scope="col" class="text-center">Price</th>
                                    <th scope="col" class="text-center">Discounted</th>
                                    <th scope="col" class="text-center">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var i in Model)
                                {
                                    var currentPrice = Functions.DiscountedPriceCalulator(i.UnitPrice, i.PromotionPercent);
                                    var totalDiscount = (i.UnitPrice - currentPrice) * i.Quantity;
                                    var totalPrice = (i.UnitPrice * i.Quantity) - totalDiscount;
                                    <tr>
                                        <td width="400px">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <img src="~/images/products/Image/@i.ProductImage" class="img-fluid">
                                                </div>
                                                <div class="col-md-9">
                                                    @i.ProductName (Size: @i.AttributeName)
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">@i.Quantity</td>

                                        <td class="text-center">
                                            @if (i.PromotionPercent > 0)
                                            {
                                                <span class="font-weight-normal">$@currentPrice</span> <span><s class="text-black-50">$@i.UnitPrice</s></span>

                                            }
                                            else
                                            {
                                                <span class="font-weight-normal">$@currentPrice</span>
                                            }
                                        </td>

                                        <td class="text-center">
                                            -$@totalDiscount
                                        </td>
                                        <td class="text-center">
                                            $@totalPrice
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <hr>
                        <div class="row">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-9 text-right">
                                        <p class="mb-0">Subtotal:</p>
                                        <p class="mb-0">Shipping:</p>
                                        <p class="mb-0">Discounted: </p>
                                        <p class="font-weight-bold">Total:</p>
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <p class="mb-0">$@ViewBag.TotalPrice</p>
                                        <p class="mb-0">$0</p>
                                        <p class="mb-0">-$@ViewBag.TotalDiscount</p>
                                        <p class="font-weight-bold">$@ViewBag.TotalPrice</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 style="margin-bottom: 25px">Orderer information</h4>
                        <p class="m-0">
                            @ViewBag.OrderInfo.OrderName
                        </p>
                        <p class="m-0">
                            @ViewBag.OrderInfo.Phone
                        </p>
                        <p class="m-0">
                            @ViewBag.OrderInfo.Address
                        </p>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-body">
                        <h4 style="margin-bottom: 25px">Payment</h4>
                        <p style="margin: 0">
                            @ViewBag.OrderInfo.PaymentName
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
