@using ShoesShop.Domain.Enum
@{
    ViewData["Title"] = "Profile";
}


<div class="container mt-4">
    <nav aria-label="breadcrumb" class="pb-0 py-3 border-bottom">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Profile</li>
        </ol>
    </nav>

    <div class="intro-section">
        <div class="my-3">
            <div class="section-header">
                <h3 class="section-header__title">My account</h3>
                <a href="/User/Logout"><u>Log out</u></a>
            </div>
        </div>
        <div class="row flex-column-reverse flex-md-row">
            <div class="col-md-8 col-12">
                <h2>Order History</h2>
                @if (ViewBag.OrderHistorys.Count == 0)
                {
                    <p>You haven't placed any orders yet.</p>
                } else
                {
                    @foreach(var i in ViewBag.OrderHistorys)
                    {
                        <div class="container px-1 py-2 mx-auto">
                            <div class="card">
                                <div class="row px-3 pt-4 order-card-section">
                                    <div class="col-12 col-md-6">
                                        <h5>ORDER <a asp-controller="Account" asp-action="OrderDetail" asp-route-orderId="@i.OrderId" asp-route-customerId="@ViewBag.CustomerId"><span class="order-id fw-bold">#@i.OrderId</span></a></h5>
                                    </div>
                                    <div class="col-12 col-md-6 text-md-end mt-2 mt-md-0">
                                        <p class="mb-0">Order date <span class="fw-bold">@i.OrderDate</span></p>
                                        <p class="mb-0">USPS <span class="fw-bold">234094567242423422898</span></p>
                                    </div>
                                </div>
                                <!-- Add class 'active' to progress -->
                                <div class="row d-flex justify-content-center" style="z-index: 99;">
                                    <div class="col-12">
                                        @if (i.OrderStatus == OrderStatus.UnChecked)
                                        {
                                            <ul id="progressbar" class="text-center">
                                                <li class="active step0"></li>
                                                <li class="step0"></li>
                                                <li class="step0"></li>
                                                <li class="step0"></li>
                                            </ul>
                                        }
                                        else if (i.OrderStatus == OrderStatus.AwatingShipment)
                                        {
                                            <ul id="progressbar" class="text-center">
                                                <li class="active step0"></li>
                                                <li class="active step0"></li>
                                                <li class="step0"></li>
                                                <li class="step0"></li>
                                            </ul>
                                        }
                                        else if (i.OrderStatus == OrderStatus.Success)
                                        {
                                            <ul id="progressbar" class="text-center">
                                                <li class="active step0"></li>
                                                <li class="active step0"></li>
                                                <li class="active step0"></li>
                                                <li class="active step0"></li>
                                            </ul>
                                        }                                        
                                        else 
                                        {
                                            <ul id="progressbar" class="text-center">
                                                <li class="step0"></li>
                                                <li class="step0"></li>
                                                <li class="step0"></li>
                                                <li class="step0"></li>
                                            </ul>
                                        }
                                    </div>
                                </div>
                                <div class="row order-card-section">
                                    <div class="col-3 d-flex flex-column flex-md-row justify-content-center icon-content">
                                        <img class="icon img-fluid" src="~/images/material/cart-status-1.png">
                                        <p class="font-weight-bold">Order<br>Processed</p>
                                    </div>
                                    <div class="col-3 d-flex flex-column flex-md-row justify-content-center icon-content">
                                        <img class="icon img-fluid" src="~/images/material/cart-status-2.png">
                                        <p class="font-weight-bold">Order<br>Shipped</p>
                                    </div>
                                    <div class="col-3 d-flex flex-column flex-md-row justify-content-center icon-content">
                                        <img class="icon img-fluid" src="~/images/material/cart-status-3.png">
                                        <p class="font-weight-bold">Order<br>En Route</p>
                                    </div>
                                    <div class="col-3 d-flex flex-column flex-md-row justify-content-center icon-content">
                                        <img class="icon img-fluid" src="~/images/material/cart-status-4.png">
                                        <p class="font-weight-bold">Order<br>Arrived</p>
                                    </div>
                                </div>
                                <div class="card-footer px-sm-3 py-3 px-0">
                                    <div class="row text-center ">
                                        <div class="col my-auto border-line">
                                            <h5 class="mb-0"><a asp-controller="Account" asp-action="OrderDetail" asp-route-orderId="@i.OrderId" asp-route-customerId="@ViewBag.CustomerId">Track</a></h5>
                                        </div>
                                        <div class="col my-auto border-line">
                                            <h5 class="mb-0"><a asp-controller="Account" asp-action="DeleteOrder" asp-route-orderId="@i.OrderId" asp-route-customerId="@ViewBag.CustomerId" onclick="return confirm('Are you sure you want to delete this order?')">Delete</a></h5>
                                        </div>
                                        <div class="col my-auto border-line">
                                            <h5 class="mb-0"><a href="#">Pre-pay</a></h5>
                                        </div>
                                        <div class="col my-auto mx-0 px-0 cursor-pointer"><img class="img-fluid cursor-pointer" src="~/images/material/three-dot.png" width="30" height="30"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                

            </div>
            <div class="col-md-4 col-12">
                <h3>Account details</h3>
                <div>
                    <form method="post" action="#" id="change-avatar">
                        <!-- <input type="hidden" value="1" name="customerId"> -->
                        <div class="position-relative">
                            <img id="avatar-img" src="~/images/avatars/@ViewBag.Avatar" class="rounded-circle img-fluid d-block mx-auto" width="35%">
                            <input type="file" class="form-control w- mx-auto d-none" id="file" name="file">
                            <label for="file" class="btn-changeAva"><i class="fa-solid fa-camera"></i></label>
                        </div>
                        <div class="text-center mt-2">
                            <button type="submit" class="btn btn-primary">Change avatar</button>
                        </div>
                    </form>
                </div>

                <p class="h5 mt-3">@ViewBag.CustomerName</p>

                @if (ViewBag.DefaultAddress != null)
                {
                    <div>@ViewBag.DefaultAddress.FirstName @ViewBag.DefaultAddress.LastName</div>
                    <div>@ViewBag.DefaultAddress.Phone</div>
                    <div>@ViewBag.DefaultAddress.Address</div>
                }
                <p><a href="~/Address/@ViewBag.CustomerId" class="text-link"><u>View addresses (@ViewBag.CountAddress)</u></a></p>
            </div>
        </div>

    </div>
</div>