@model ProductViewModel
@{
    ViewData["Title"] = "Product";
}

<div class="container">
    <a href="./product-list.html" class="text-dark"><i class="fa-solid fa-angle-left"></i> Back To Result</a>
    <nav aria-label="breadcrumb" class="mt-2 mb-5">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item">Shoes</li>
            <li class="breadcrumb-item">Women</li>
            <li class="breadcrumb-item active" aria-current="page"><u>Sneaker</u></li>
        </ol>
    </nav>

    <!-- Product info-->
    <div class="row product-section">
        <div class="col-md-7">
            <div class="wrap-slider-product">
                <div class="main-img">
                    <span class="control prev">
                        <i class="fa-solid fa-angle-left"></i>
                    </span>
                    <span class="control next">
                        <i class="fa-solid fa-angle-right"></i>
                    </span>
                    <div class="img-wrap" onclick="HandleShowLightbox(event)">
                        <img src="~/images/products/Image/@Model.Image" alt="main image" />
                    </div>
                </div>
                <div class="list-img">
                    <div>
                        <img src="~/images/products/Image/@Model.Image" alt="main image" />
                    </div>
                    <div>
                        <img src="~/images/products/ImageList/@Model.ImageList/1.jpg" alt="image gallery" />
                    </div>
                    <div>
                        <img src="~/images/products/ImageList/@Model.ImageList/2.jpg" alt="image gallery" />
                    </div>
                    <div>
                        <img src="~/images/products/ImageList/@Model.ImageList/3.jpg" alt="image gallery" />
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-5 mt-4">
            <h4>@Model.CatalogName</h4>
            <h3>@Model.ProductName</h3>
            <div>
                @if (Model.PromotionPercent > 0)
                {
                    <span class="text-end fw-bold me-1">$@Functions.DiscountedPriceCalulator(Model.OriginalPrice, Model.PromotionPercent)</span>
                    <span class="text-start text-decoration-line-through old-price me-3">$@Model.OriginalPrice</span>
                    <span class="text-danger fw-bold">Save @Model.PromotionPercent%</span>
                }
                else
                {
                    <span class="text-end fw-bold me-2">$@Model.OriginalPrice</span>
                }

            </div>
            <div class="wrap-star">
                <span class="rate d-block">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    (2 Rating)
                </span>
            </div>

            <div class="row my-3">
                <p class="fs-5 m-0">Size</p>
                <div class="size-wrap">
                    @foreach (var i in ViewBag.SizeOfProduct)
                    {
                        <input type="radio" id="@i.AttributeName" name="size" value="@i.AttributeId" hidden>
                        <label for="@i.AttributeName" class="size-item">@i.AttributeName</label>
                    }
                </div>
            </div>

            <div class="row my-3">
                <div class="col-12 col-md-6">
                    <div class="input-group">
                        <div class="quantity-left-minus btn-quantity rounded me-1" onclick="DecreaseQuanlity(event)">
                            <i class="uil uil-minus" style="pointer-events: none;"></i>
                        </div>
                        <input type="number" id="quantity" name="quantity" class="form-control input-number text-center" onblur="ValidateQuanlity(event)" value="1" min="1" max="10">
                        <div class="quantity-right-plus btn-quantity rounded ms-1" onclick="IncreaseQuanlity(event)">
                            <i class="uil uil-plus" style="pointer-events: none;"></i>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row my-3">
                <div class="col-sm-12">
                    <div class="btn btn-primary btn-custom-loading btn-addtocart"><div class="loader"></div><span>Add to Cart</span></div>
                </div>
            </div>

        </div>
    </div>

    <!-- Description/Rating product -->
    <div class="intro-section">
        <div class="container" style="margin-top: 10px;">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#desc">DESCRIPTION</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#review">REVIEW</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content mt-4">
                <div class="tab-pane container product-desc active" id="desc">
                    @Html.Raw(@Model.Description)
                </div>
                <div class="tab-pane container fade" id="review">
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <h5 class="mb-4 head-comment">0 Reviews</h5>
                            @if (ViewBag.CustomerInfoSession == null)
                            {
                                <p>Your must login before comment! <a href="~/Login-registration" class="text-primary">Login</a></p>
                            }
                            else 
                            {
                                if (ViewBag.IsCommented == true)
                                {
                                    <p>You commented on this product before!</p>
                                }
                                else 
                                {
                                    <div class="msg-success-rate d-none">
                                        <div class="text-center text-danger fw-bold">Thanks for rating us!</div>
                                    </div>
                                    <div class="rate-area">
                                        <h3 class="title-rate text-center">How would you rate this product?</h3>
                                        <div class="star-rate-wrap">
                                            <div class="star-widget">
                                                <input type="radio" class="input-rate" name="rate" id="rate-5">
                                                <label for="rate-5" class="fas fa-star label-rate" aria-hidden="true"></label>
                                                <input type="radio" class="input-rate" name="rate" id="rate-4">
                                                <label for="rate-4" class="fas fa-star label-rate" aria-hidden="true"></label>
                                                <input type="radio" class="input-rate" name="rate" id="rate-3">
                                                <label for="rate-3" class="fas fa-star label-rate" aria-hidden="true"></label>
                                                <input type="radio" class="input-rate" name="rate" id="rate-2">
                                                <label for="rate-2" class="fas fa-star label-rate" aria-hidden="true"></label>
                                                <input type="radio" class="input-rate" name="rate" id="rate-1">
                                                <label for="rate-1" class="fas fa-star label-rate" aria-hidden="true"></label>
                                                <form action="~/Account/AddNewComment" id="form-comment" method="post">
                                                    <header></header>
                                                    <div class="form-group">
                                                        <textarea class="form-control" rows="4" id="comment" name="comment" placeholder="Writting your review!"></textarea>
                                                    </div>
                                                    <div class="form-group text-center mt-2">
                                                        <button type="submit" class="btn btn-primary btn-submit-comment btn-custom-loading"><div class="loader"></div><span>Submit review</span></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                }

                            }


                            <div class="wrap-comments">
                                @*<div class="review-item row mt-4">
                                    <div class="col-2 col-md-1">
                                        <img src="~/images/avatars/avatar.jpg" class="img-fluid rounded-circle user-img" alt="avatar image">
                                    </div>
                                    <div class="col-10 col-md-11">
                                        <div class="row">
                                            <div class="col-8">
                                                <p>
                                                    Nguyễn Thanh Dũng
                                                </p>
                                                <div class="wrap-star">
                                                    <span class="rate d-block">
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-regular fa-star"></i>
                                                    </span>
                                                </div>
                                                <p>Good product</p>
                                            </div>
                                            <div class="col-4 text-end">
                                                <p>10/10/2022 7:50 AM</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                           
                            </div>

                        </div>

                        <div class="col-12 col-md-4">
                            <h5 class="mb-4 mt-4 mt-md-0">GIVE A REVIEW</h5>
                            <div class="star-statistic">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="wrap-star">
                                            <span class="rate d-block">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                (0%)
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-6">0 Reviews</div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-6">
                                        <div class="wrap-star">
                                            <span class="rate d-block">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-regular fa-star"></i>
                                                (0%)
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-6">0 Reviews</div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-6">
                                        <div class="wrap-star">
                                            <span class="rate d-block">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-regular fa-star"></i>
                                                <i class="fa-regular fa-star"></i>
                                                (0%)
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-6">0 Reviews</div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-6">
                                        <div class="wrap-star">
                                            <span class="rate d-block">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-regular fa-star"></i>
                                                <i class="fa-regular fa-star"></i>
                                                <i class="fa-regular fa-star"></i>
                                                (0%)
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-6">0 Reviews</div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-6">
                                        <div class="wrap-star">
                                            <span class="rate d-block">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-regular fa-star"></i>
                                                <i class="fa-regular fa-star"></i>
                                                <i class="fa-regular fa-star"></i>
                                                <i class="fa-regular fa-star"></i>
                                                (0%)
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-6">0 Reviews</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Product related-->
    <div class="section">
        <div class="container pb-5">
            <div class="row">
                <div class="col-sm-8 offset-sm-2 text-center">
                    <h2 class="text-dark mb-5">WE THINK YOU MAY LIKE</h2>
                </div>
            </div>
            <div class="row">
                @foreach(var i in ViewBag.RelativeProducts)
                {
                    <div class="col-12 col-md-3 mt-5">
                        <div class="single-product d-block">
                            @if (i.PromotionPercent > 0)
                            {
                                <span class="product-label">Sale</span>
                            }

                            <div class="btn-wishlist" onclick="AddWishList(event)">
                                <i class="fa-regular fa-heart fs-4"></i>
                            </div>
                            <div class="product-img">
                                <a href="~/Product/@SlugGenerator.SlugGenerator.GenerateSlug(i.ProductName)-@i.ProductId">
                                    <img src="~/images/products/Image/@i.Image" class="primary-img img-fluid" alt="product image">
                                    <img src="~/images/products/ImageList/@i.ImageList/1.jpg" class="secondary-img img-fluid" alt="product image">
                                </a>
                            </div>
                            <div class="product-info text-center">
                                <h4>@i.CatalogName</h4>
                                <a href="~/Product/@SlugGenerator.SlugGenerator.GenerateSlug(i.ProductName)-@i.ProductId" class="m-0">
                                    @i.ProductName
                                    <span class="fw-bold text-danger ms-2">New</span>
                                </a>
                                @if (i.PromotionPercent > 0)
                                {
                                    <div>
                                        <span class="text-end fw-bold me-2">$@Functions.DiscountedPriceCalulator(i.OriginalPrice, i.PromotionPercent)</span>
                                        <span class="text-start text-decoration-line-through old-price">$@i.OriginalPrice</span>
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <span class="text-end fw-bold me-2">$@i.OriginalPrice</span>
                                    </div>
                                }

                                @if (@i.AvgStar == 1)
                                {
                                    <div class="wrap-star">
                                        <span class="rate d-block">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <span class="ms-1">(@i.TotalComment rating)</span>
                                        </span>
                                    </div>
                                }
                                else if (@i.AvgStar == 2)
                                {
                                    <div class="wrap-star">
                                        <span class="rate d-block">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <span class="ms-1">(@i.TotalComment rating)</span>
                                        </span>
                                    </div>
                                }
                                else if (@i.AvgStar == 3)
                                {
                                    <div class="wrap-star">
                                        <span class="rate d-block">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <span class="ms-1">(@i.TotalComment rating)</span>
                                        </span>
                                    </div>
                                }
                                else if (@i.AvgStar == 4)
                                {
                                    <div class="wrap-star">
                                        <span class="rate d-block">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <span class="ms-1">(@i.TotalComment rating)</span>
                                        </span>
                                    </div>
                                }
                                else if (@i.AvgStar == 5)
                                {
                                    <div class="wrap-star">
                                        <span class="rate d-block">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <span class="ms-1">(@i.TotalComment rating)</span>
                                        </span>
                                    </div>
                                }
                                else
                                {
                                    <div class="wrap-star">
                                        <span class="rate d-block">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <span class="ms-1">(@i.TotalComment rating)</span>
                                        </span>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>

</div>

<script>
    //================== Order ====================
    // Click add to cart
    const btnAddToCart = document.querySelector(".btn-addtocart");
    btnAddToCart.addEventListener("click", () => {
        const getValueSize = document.querySelector('input[name="size"]:checked') ? parseInt(document.querySelector('input[name="size"]:checked').value) : null;
        const quantityVal = parseInt(document.querySelector('input[name="quantity"]').value);
        const productId = parseInt(@Model.ProductId);


        if (getValueSize == null) {
            alert("Please select size!");
            return;
        }
        console.log({ getValueSize, quantityVal, productId })

        $.ajax({
            url: "/Cart/AddToCart",
            data: {
                productId: productId,
                quantity: quantityVal,
                attributeId: getValueSize
            },
            type: "POST",
            beforeSend: function () {
                btnAddToCart.classList.add("is-loading");
            },
            success: function (data) {
                // Change number cart item DOM
                GetNumberItemCart();

                //
                btnAddToCart.classList.remove("is-loading");

                if (data.status == 200) {
                    toastr.success(data.smg);
                }
                else 
                {
                    toastr.error(data.smg);
                }
            },
            error: function (err) {
                btnAddToCart.classList.remove("is-loading");
                    console.log(err)

            }
        });

    })


    function FormatDateTime(datetime)
    {
        let date = `${datetime.split("T")[0].split("-")[2]}-${datetime.split("T")[0].split("-")[1]}-${datetime.split("T")[0].split("-")[0]}`;
        let time = `${datetime.split("T")[1].split(":")[0]}:${datetime.split("T")[1].split(":")[1]}`;
        return `${date} ${time}`;
    }

    //================== Render Comment Feature ====================
    $(document).ready(function () {
        GetCommentList();
        GetRatingOfProduct();
    });

    function GetCommentList() {
        $.ajax({
            url: "/Product/GetCommentList?productId=" + Number(@Model.ProductId),
            type: "GET",
            beforeSend: function () {
                //$(".dataTables_empty").html('<div class="loading-table"></div>')
            },
            success: function (data) {
                console.log(data.comments)

                const countNumberCommentElement = document.querySelector(".head-comment");
                countNumberCommentElement.innerHTML = `${data.comments.length} Reviews`;

                const wrapComment = document.querySelector(".wrap-comments");
                let template = "";

                // Trường hợp danh sách trả về ko có phần tử nào
                if (data.comments.length == 0) {
                    template = `<div class="review"><p>No comment!</p></div>`;
                    wrapComment.insertAdjacentHTML("afterbegin", template);
                }
                else {
                    if (data.status == 200) {
                        wrapComment.innerHTML = "";
                        [...data.comments].forEach(item => {
                            let starTemplate = "";

                            


                            if (item.star == 1) {
                                starTemplate = `
                                        <span class="rate d-block">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </span>`;
                            }
                            else if (item.star == 2) {
                                starTemplate = `
                                            <span class="rate d-block">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-regular fa-star"></i>
                                                <i class="fa-regular fa-star"></i>
                                                <i class="fa-regular fa-star"></i>
                                            </span>`;
                            }
                            else if (item.star == 3) {
                                starTemplate = `
                                        <span class="rate d-block">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </span>`;
                            }
                            else if (item.star == 4) {
                                starTemplate = `
                                        <span class="rate d-block">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </span>`;
                            }
                            else {
                                starTemplate = `
                                        <span class="rate d-block">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </span>`;
                            }
                            template = `<div class="review-item row mt-4">
                                            <div class="col-2 col-md-1">
                                                    <img src="/images/avatars/${item.avatar}" class="img-fluid rounded-circle user-img" alt="avatar image">
                                            </div>
                                            <div class="col-10 col-md-11">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <p>
                                                            ${item.firstName} ${item.lastName}
                                                        </p>
                                                        <div class="wrap-star">
                                                            ${starTemplate}
                                                        </div>
                                                        <p>${item.content}</p>
                                                    </div>
                                                    <div class="col-4 text-end">
                                                        <p>${FormatDateTime(item.date)}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>`;
                            wrapComment.insertAdjacentHTML("afterbegin", template);
                        })

                    }
                }

            },
            error: function (err) {
                console.log(err)
            }
        });
    };

    function GetRatingOfProduct() {
        $.ajax({
            url: "/Product/GetStarOfProduct?productId=" + Number(@Model.ProductId),
            type: "GET",
            success: function (data) {
                console.log(data.product)
                console.log(data.product.avgStar)

                if (data.status == 200) {
                    const starWrap = document.querySelector(".wrap-star");
                    let star = "";
                    if (data.product.avgStar === 0) {
                        star = `<i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>`;
                    }                    
                    else if (data.product.avgStar === 1) {
                        star = `<i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>`;
                    }
                    else if (data.product.avgStar === 2) {
                        star = `<i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>`;
                    }
                    else if (data.product.avgStar === 3) {
                        star = `<i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>`;
                    }
                    else if (data.product.avgStar === 4) {
                        star = `<i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>`;
                    }
                    else {
                        star = `<i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>`;
                    }

                    const template = `
                        <div class="rate">
                            ${star}
                                (${data.product.totalComment} Rating)
                            </div>`;

                    starWrap.innerHTML = '';
                    starWrap.innerHTML = template;


                } 
            },
            error: function (err) {
                console.log(err)
            }
        });
    };


    // Handle submit form rating product
    const formComment = document.querySelector("#form-comment");
    formComment && formComment.addEventListener("submit", function (e) {
        e.preventDefault();
        const star = parseInt(document.querySelector("input[name='rate']:checked").getAttribute("id").split("").reverse()[0]);
        const commentVal = this.elements["comment"].value;
        const productId = Number(@Model.ProductId);
        const customerId = Number(@ViewBag.CustomerInfoSession?.CustomerId);

        console.log({ star, commentVal, productId, customerId })

        $.ajax({
            url: "/Product/AddComment",
            type: "POST",
            data: {
                productId: productId,
                customerId: customerId,
                star: star,
                content: commentVal
            },
            beforeSend: function () {
                //$(".dataTables_empty").html('<div class="loading-table"></div>')
                const btnSubmit = document.querySelector(".btn-submit-comment");
                btnSubmit.classList.add("is-loading");
            },
            success: function (data) {
                const btnSubmit = document.querySelector(".btn-submit-comment");
                btnSubmit.classList.add("is-loading");

                if (data.status == 200) {
                    const rateArea = document.querySelector(".rate-area");
                    const rateSuccess = document.querySelector(".msg-success-rate");
                    !rateArea.classList.contains("d-none") && rateArea.classList.add("d-none")
                    rateSuccess.classList.contains("d-none") && rateSuccess.classList.remove("d-none")
                    // Re-render comment list
                    GetCommentList();
                    GetRatingOfProduct();
                }
            },
            error: function (err) {
                console.log(err)
            }
        });

    });
</script>