@model List<CartViewModel>
@{
    ViewData["Title"] = "Checkout";
}
<div class="container mt-4">
    <nav aria-label="breadcrumb" class="pb-0 py-3 border-bottom">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-controller="Cart" asp-action="CartPage">Shopping cart</a></li>
            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
        </ol>
    </nav>

    <div class="section">
        <div class="row justify-content-center mb-md-5">
            <div class="col-12 col-md-6 mb-5">
                <div class="process-wrap">
                    <div class="process text-center active">
                        <p><span>01</span></p>
                        <h3>Shopping Cart</h3>
                    </div>
                    <div class="process text-center active">
                        <p><span>02</span></p>
                        <h3>Checkout</h3>
                    </div>
                    <div class="process text-center">
                        <p><span>03</span></p>
                        <h3>Order Complete</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 col-md-8">
                <div class="wrap-checkout">
                    <form method="post" action="/Cart/CashOnDeliveryPayment" id="order-form">
                        <input type="hidden" name="customerId" value="@ViewBag.Customer.CustomerId">
                        <input type="hidden" name="email" value="@ViewBag.Customer.Email">
                        <input type="hidden" name="paymentId" value="@ViewBag.Payments[0].PaymentId"> 
                        <h3 class="mb-4">Billing Details</h3>
                        <div>
                            <h5>Contact information</h5>
                            <div class="customer-info">
                                <div>
                                    <img src="~/images/avatars/@ViewBag.Customer.Avatar" class="img-fluid rounded-circle" alt="avatar customer">
                                </div>
                                <p>
                                    @ViewBag.Customer.FirstName @ViewBag.Customer.LastName
                                    <span class="contact-gmail">@ViewBag.Customer.Email</span>
                                </p>
                            </div>
                        </div>
                        <div class="checkout-address mt-4">
                            <h5>Shipping address</h5>
                            <div class="row">

                                @if (ViewBag.AddressList.Count > 0)
                                {
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="country">Select Your Address</label>
                                            <div class="form-field">
                                                <i class="uil uil-arrow-down icon-dropdown"></i>
                                                <select name="address-list" id="address" class="form-control" onchange="HandleFillValueOnFormOrder()">
                                                    @foreach (var i in ViewBag.AddressList)
                                                    {
                                                        <option value="@i.FirstName @i.LastName, @i.Phone, @i.Address" selected="@i.IsDefault">
                                                            @i.FirstName @i.LastName, @i.Phone, @i.Address
                                                            @if(i.IsDefault){
                                                            <span>(Default address)</span>
                                                            }
                                                        </option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                }

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="first-name">First Name</label>
                                        <input type="text" id="first-name" name="first-name" class="form-control" placeholder="" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="last-name">Last Name</label>
                                        <input type="text" id="last-name" name="last-name" class="form-control" placeholder="" required>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="phone">Phone number</label>
                                        <input type="tel" id="phone" name="phone" class="form-control" placeholder="" required>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <input type="text" id="address" name="address" class="form-control" placeholder="" required>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="note">Note</label>
                                        <textarea class="form-control" name="note" id="note" rows="3" style="height:auto!important"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="radio">
                                            <label><input type="checkbox" name="checkAddAddress"> Save this information for next time</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

            <div class="col-12 col-md-4 mt-4 mt-md-0">
                <div class="row">
                    <div class="col-12">
                        <div class="cart-detail wrap-checkout">
                            <h5 class="mb-4">Cart Total</h5>
                            <div>

                                @foreach(var i in Model)
                                {
                                    <div class="row my-3">
                                        <div class="col-8">@i.NameItem<br/>Size: @i.AttributeName (Qty: @i.Quantity)</div>
                                        <div class="col-4 text-end">$@i.CurrentPriceItem</div>
                                    </div>
                                }

                                <hr>

                                <div class="row mt-2">
                                    <div class="col-8">Subtotal</div>
                                    <div class="col-4 text-end">$@ViewBag.TotalPrice</div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-8">Shipping</div>
                                    <div class="col-4 text-end">free</div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-8">Order Total</div>
                                    <div class="col-4 fw-bold fs-6 text-end">$@ViewBag.TotalPrice</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="wrap-checkout">
                            <h5 class="mb-4">Payment Method</h5>

                            @foreach (var i in ViewBag.Payments)
                            {
                                if(i.PaymentId == 1)
                                {
                                    <div class="form-group my-4">
                                        <div class="col-md-12">
                                            <div class="radio">
                                                <label><input type="radio" name="optpayment" value="@i.PaymentId" onclick="ChangeActionPayment(this);" checked=""> @i.PaymentName</label>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else 
                                {
                                    <div class="form-group my-4">
                                        <div class="col-md-12">
                                            <div class="radio">
                                                <label><input type="radio" name="optpayment" value="@i.PaymentId" onclick="ChangeActionPayment(this);"> @i.PaymentName</label>
                                            </div>
                                        </div>
                                    </div>
                                }

                            }
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="" onchange="document.getElementById('btn-submit').classList.toggle('disabled'); document.querySelector('.btn-submit-paypal').classList.toggle('disabled')"> I have read and accept the terms and conditions</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-12 text-center">
                        <button type="submit" form="order-form" class="btn btn-primary btn-custom-loading disabled" id="btn-submit"><div class="loader"></div><span>Place an order</span></button>
                        <a asp-controller="Cart" asp-action="PaymentWithPaypal" class="btn btn-submit-paypal btn-custom-loading disabled d-none">
                            <div class="loader"></div><img src="~/images/material/paypalicon.svg" class="img-fluid"><img src="~/images/material/paypalcontent.svg" class="img-fluid w-50 paypal-icon">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script>

    // Handle click button paypal
    const btnSubmitPaypal = document.querySelector(".btn-submit-paypal");
    btnSubmitPaypal.addEventListener("click", function (e) {
        e.preventDefault();

        var getCustomerId = document.querySelector("input[name='customerId']").value;
        var getPaymentId = document.querySelector("input[name='paymentId']").value;
        var firstName = document.querySelector("input[name='first-name']").value;
        var lastName = document.querySelector("input[name='last-name']").value;
        var phone = document.querySelector("input[name='phone']").value;
        var address = document.querySelector("input[name='address']").value;
        var note = document.querySelector("textarea[name='note']").value;

        if (!firstName || !lastName || !phone || !address) {
            alert("Some field is blank")
            return;
        }

        // Check save address when customer checked (case cusomter haven't address)
        const chboxAddress = document.querySelector("input[name='checkAddAddress']");
        if (chboxAddress) {
            if (chboxAddress.checked) {
                // call ajax add new customer address
                $.ajax({
                    type: 'POST',
                    url: '/Cart/SaveAddressNextTime',
                    data: {
                        customerId: getCustomerId,
                        firstName: firstName,
                        lastName: lastName,
                        address: address,
                        phone: phone
                    },
                    dataType: 'json',
                    success: function (data) {
                    },
                    error: function (err) {
                        alert("err")
                        document.querySelector("#btn-submit").classList.remove("is-loading");
                    }
                });
            }
        }

        // Call ajax Save Order after Paypal
        $.ajax({
            type: 'POST',
            url: '/Cart/SaveOrderPaypal',
            data: {
                paymentId: parseInt(getPaymentId),
                firstName: firstName,
                lastName: lastName,
                address: address,
                phone: phone,
                note: note,
            },
            dataType: 'json',
            beforeSend: function () {
                btnSubmitPaypal.classList.add("is-loading");
            },
            success: function (data) {
                //btnSubmitPaypal.classList.remove("is-loading");
                window.location = `${window.location.origin}${btnSubmitPaypal.getAttribute("href")}`
            },
            error: function (err) {
                btnSubmitPaypal.classList.remove("is-loading");
                alert(err)
            }
        });

    })


    var addressOpt = document.querySelector("select[name='address-list']");
    if (addressOpt != null)
    {
        HandleFillValueOnFormOrder(); //Handle fill first address on form

        function HandleFillValueOnFormOrder() // Event function
        {
            var name = addressOpt.value.split(",")[0].trim();
            var [firstName, ...lastName] = name.split(" ");
            lastName = lastName.join(" ");
            var phone = addressOpt.value.split(",")[1].trim();
            var address = addressOpt.value.split(",")[2].trim();
            console.log({ firstName, lastName, phone, address })
            ChangeInputValue({ firstName, lastName, phone, address })
        }

        function ChangeInputValue(info) {
            var firstNameElement = document.querySelector("input[name='first-name']");
            var lastNameElement = document.querySelector("input[name='last-name']");
            var phoneElement = document.querySelector("input[name='phone']");
            var addressElement = document.querySelector("input[name='address']");

            firstNameElement.value = info.firstName;
            lastNameElement.value = info.lastName;
            phoneElement.value = info.phone;
            addressElement.value = info.address;
        }

    }

    // Change link action form based on payment
    function ChangeActionPayment(myRadio) {
        var paymentContent = myRadio.parentNode.textContent.trim();
        var currentValue = myRadio.value;

        var getPaymentId = document.querySelector("input[name='paymentId']");

        console.log(getPaymentId)

        if (paymentContent === "Cash on delivery") {
            // Choose cash on delivery
            const btnSubmit = document.querySelector("#btn-submit")
            const btnSubmitPaypal = document.querySelector(".btn-submit-paypal")

            document.querySelector("input[name='paymentId']").value = 1;

            btnSubmit.classList.remove("d-none");
            btnSubmitPaypal.classList.add("d-none");
        }
        else if (paymentContent === "Paypal") {
            // Choose paypal
            const btnSubmit = document.querySelector("#btn-submit")
            const btnSubmitPaypal = document.querySelector(".btn-submit-paypal")

            document.querySelector("input[name='paymentId']").value = 2;

            btnSubmit.classList.add("d-none");
            btnSubmitPaypal.classList.remove("d-none");

        }
    }


    const orderForm =  document.querySelector("#order-form");
    orderForm.addEventListener("submit", function(e) {
        e.preventDefault();

        var getCustomerId = document.querySelector("input[name='customerId']").value;
        var firstName = document.querySelector("input[name='first-name']").value;
        var lastName = document.querySelector("input[name='last-name']").value;
        var address = document.querySelector("input[name='address']").value;
        var phone = document.querySelector("input[name='phone']").value;

        if (!firstName || !lastName || !phone || !address) {
            alert("Some field is blank")
            return;
        }

        console.log({ getCustomerId, firstName, lastName, phone });

        document.querySelector("#btn-submit").classList.add("is-loading");

        // Check save address when customer checked (case cusomter haven't address)
        const chboxAddress = document.querySelector("input[name='checkAddAddress']");
        if (chboxAddress) {
            if (chboxAddress.checked) {
                console.log("check")
                // call ajax add new customer address
                $.ajax({
                    type: 'POST',
                    url: '/Cart/SaveAddressNextTime',
                    data: {
                        customerId: getCustomerId,
                        firstName: firstName,
                        lastName: lastName,
                        address: address,
                        phone: phone,
                    },
                    dataType: 'json',
                    success: function (data) {
                    },
                    error: function (err) {
                        alert("err")
                        document.querySelector("#btn-submit").classList.remove("is-loading");
                    }
                });
            }
        }

        orderForm.submit();

    })



</script>