@{
    var cusomterSession = Context.Session.GetString("CustomerInfo");
    var customerInfo = JsonConvert.DeserializeObject<Customer>(cusomterSession != null ? cusomterSession : "");
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/images/material/Favicon.svg">
    <title>@ViewData["Title"]</title>


    <!-- Library -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/toastr.min.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/swiper-bundle.min.css" asp-append-version="true" />
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true" />

    <script src="~/js/fontawesome.js"></script>

    <script>(function (w, d) { w.CollectId = "60827f2b34b8b76f099ef81c"; var h = d.head || d.getElementsByTagName("head")[0]; var s = d.createElement("script"); s.setAttribute("type", "text/javascript"); s.async = true; s.setAttribute("src", "https://collectcdn.com/launcher.js"); h.appendChild(s); })(window, document);</script>


</head>

<body class="unable-scroll">
    <!-- Common -->
    <div class="preloader"></div>
    <div class="overlay"></div>
    <div class="btn-backToTop" onclick="scrollToTop()">
        <i class="fa-solid fa-angle-up fs-4"></i>
    </div>


    <header>
        <div class="header-brand-scroll">
            <div class="header-brand-title">
                <p class="ms-3 m-0">Brands You Love</p>
            </div>
            <ul class="header-brand-item">
                <li>
                    <a href="#">
                        <img src="~/images/material/brands/Adidas.svg" class="img-fluid"
                            alt="logo brand header" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/images/material/brands/Converse.svg" class="img-fluid"
                            alt="logo brand header" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/images/material/brands/Crocs.svg" class="img-fluid"
                            alt="logo brand header" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/images/material/brands/DrMartens.svg" class="img-fluid"
                            alt="logo brand header" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/images/material/brands/HeyDude.svg" class="img-fluid"
                            alt="logo brand header" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/images/material/brands/Nike.svg" class="img-fluid" alt="logo brand header" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/images/material/brands/Timberland.svg" class="img-fluid"
                            alt="logo brand header" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/images/material/brands/Vans.svg" class="img-fluid" alt="logo brand header" />
                    </a>
                </li>
            </ul>
        </div>
        <div class="header__top d-none d-md-block py-2">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-md-10">
                        <div class="header__top__left">
                            <p class="m-0">
                                Free shipping, 30-day return or refund guarantee.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2 text-end">
                        @if (cusomterSession == null) 
                        {
                            <a asp-controller="Account" asp-action="LoginRegistration" class="text-light">
                                <i class="uil uil-user fs-4"></i> <span class="ms-1">Sign in</span>
                            </a>
                        } else
                        {
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle text-light" type="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                    <img src="~/images/avatars/@customerInfo.Avatar"
                                     class="img-fluid rounded-circle avatar-img" width="35px" alt="" />
                                    <span class="d-none d-md-inline-block ms-1">@customerInfo.FirstName @customerInfo.LastName</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-account">
                                    <li><a class="dropdown-item" asp-controller="Account" asp-action="Profile">Profile</a></li>
                                    <li><a class="dropdown-item" asp-controller="Account" asp-action="ChangePassword">Change Password</a></li>
                                    <li><a class="dropdown-item" asp-controller="Account" asp-action="AddressManager">View Addresses</a></li>
                                    <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a></li>
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="header-body pt-3 pt-md-5">
            <div class="container">
                <div class="row">
                    <div class="col-4 d-lg-none" id="wrap-icon-menu">
                        <div class="menu-btn">
                            <div class="menu-btn__burger"></div>
                        </div>
                    </div>
                    <div class="col-4 col-md-4">
                        <a asp-controller="Home" asp-action="Index">
                            <img src="~/images/material/footwear-logo.svg" width="190" class="img-fluid"
                                alt="logo-brand" />
                        </a>
                    </div>

                    <div class="col-4 col-md-8">
                        <div class="row">
                            <div class="col-12 col-12 d-flex justify-content-end gap-3">
                                <form id="form-search" action="#" class="d-none d-md-block">
                                    <input type="text" class="input-search" name="search"
                                        placeholder="Find Something Famous For You" />
                                    <button type="submit" class="btn-submit">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </form>
                                <a href="#" class="wrap-cart d-flex align-items-center">
                                    <i class="fa-regular fa-heart fs-4"></i>
                                    <span class="d-none d-md-block ms-1">Wishlist</span>
                                </a>
                                <a asp-controller="Cart" asp-action="CartPage" class="wrap-cart d-flex align-items-center">
                                    <i class="uil uil-shopping-bag fs-4"></i>
                                    <span class="d-none d-md-block ms-1">Cart</span> [0]
                                </a>
                            </div>
                        </div>


                        <div class="row pt-3">
                            <div class="navigation__menu">
                                <div class="d-md-none pt-3 px-5">
                                    @if (cusomterSession == null) 
                                    {
                                        <a asp-controller="Account" asp-action="LoginRegistration" class="wrap-cart d-flex align-items-center mb-3">
                                            <p class="m-0 text-decoration-underline fw-semibold">Sign in / Join Now</p>
                                        </a>
                                    } else
                                    {
                                        <div class="text-light">
                                            <img src="~/images/avatars/@customerInfo.Avatar"
                                             class="img-fluid rounded-circle avatar-img" width="35px" alt="" />
                                            <span class="ms-1 text-dark">@customerInfo.FirstName @customerInfo.LastName</span>
                                        </div>
                                        <ul class="ps-5">
                                            <li class="mb-1"><a asp-controller="Account" asp-action="Profile">View Profile</a></li>
                                            <li class="mb-1"><a asp-controller="Account" asp-action="ChangePassword">Change Password</a></li>
                                            <li class="mb-1"><a asp-controller="Account" asp-action="AddressManager">View Addresses</a></li>
                                            <li class="mb-1"><a asp-controller="Account" asp-action="Logout">Logout</a></li>
                                        </ul>
                                    }
                                </div>
                                <div class="wrap-search-mobile"></div>

                                <ul class="nav">
                                    <li class="nav__item">
                                        <div class="nav__item-wrap-mobile pb-md-2">
                                            <a asp-controller="Product" asp-action="ProductList" asp-route-cateGender="Women" class="nav-link d-none d-md-block">Women</a>
                                            <p class="nav-link d-md-none m-0">Women</p>
                                            <i class="uil uil-plus d-block d-md-none fs-2"></i>
                                        </div>
                                        <div class="megamenu-container px-md-4">
                                            <div class="megamenu">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="row">
                                                            <div>
                                                                <strong>Women's Shoes</strong>
                                                            </div>
                                                            <ul>
                                                                <li><a href="./product-list.html">View All</a></li>
                                                                <li><a href="#">New Arrivals</a></li>
                                                                <li><a href="#">Sneakers & Althletics</a></li>
                                                                <li><a href="#">Boots</a></li>
                                                                <li><a href="#">Heels</a></li>
                                                                <li><a href="#">Flats</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="row pt-2">
                                                            <div>
                                                                <strong>Sneakers and Athletics</strong>
                                                            </div>
                                                            <ul>
                                                                <li><a href="#">View All</a></li>
                                                                <li><a href="#">Running Shoes</a></li>
                                                                <li><a href="#">Walking Shoes</a></li>
                                                                <li><a href="#">Lifestyle & Fashion</a></li>
                                                                <li><a href="#">Canvas Shoes</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="row">
                                                            <div>
                                                                <strong>Shop, Style & More</strong>
                                                            </div>
                                                            <ul>
                                                                <li><a href="#">Boot Shop</a></li>
                                                                <li><a href="#">Sneaker Shop</a></li>
                                                                <li><a href="#">Active Shop</a></li>
                                                                <li><a href="#">Sale</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="row">
                                                            <img src="~/images/material/fall_22_mega_nav_bootshop.jpg"
                                                                class="img-fluid" alt="" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav__item">
                                        <div class="nav__item-wrap-mobile pb-md-2">
                                            <a asp-controller="Product" asp-action="ProductList" asp-route-cateGender="Men" class="nav-link d-none d-md-block">Men</a>
                                            <p class="nav-link d-md-none m-0">Men</p>
                                            <i class="uil uil-plus d-block d-md-none fs-2"></i>
                                        </div>
                                        <div class="megamenu-container px-md-4">
                                            <div class="megamenu">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="row">
                                                            <div>
                                                                <strong>Women's Shoes</strong>
                                                            </div>
                                                            <ul>
                                                                <li><a href="#">View All</a></li>
                                                                <li><a href="#">New Arrivals</a></li>
                                                                <li><a href="#">Sneakers & Althletics</a></li>
                                                                <li><a href="#">Boots</a></li>
                                                                <li><a href="#">Heels</a></li>
                                                                <li><a href="#">Flats</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="row pt-2">
                                                            <div>
                                                                <strong>Sneakers and Athletics</strong>
                                                            </div>
                                                            <ul>
                                                                <li><a href="#">View All</a></li>
                                                                <li><a href="#">Running Shoes</a></li>
                                                                <li><a href="#">Walking Shoes</a></li>
                                                                <li><a href="#">Lifestyle & Fashion</a></li>
                                                                <li><a href="#">Canvas Shoes</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="row">
                                                            <div>
                                                                <strong>Shop, Style & More</strong>
                                                            </div>
                                                            <ul>
                                                                <li><a href="#">Boot Shop</a></li>
                                                                <li><a href="#">Sneaker Shop</a></li>
                                                                <li><a href="#">Active Shop</a></li>
                                                                <li><a href="#">Sale</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="row">
                                                            <img src="~/images/material/fall_22_mega_nav_sneakershop.jpg"
                                                                class="img-fluid" alt="" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav__item">
                                        <div class="nav__item-wrap-mobile pb-md-2">
                                            <a href="#" class="nav-link">Brands</a>
                                        </div>
                                    </li>
                                    <li class="nav__item">
                                        <div class="nav__item-wrap-mobile pb-md-2">
                                            <a href="http://www.nguyenthanhdung.tk/" target="_blank"
                                                class="nav-link">About</a>
                                        </div>
                                    </li>
                                    <li class="nav__item">
                                        <div class="nav__item-wrap-mobile pb-md-2">
                                            <a asp-controller="Home" asp-action="Contact" class="nav-link">Contact</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="main">
        <partial name="_Notification" />
        @RenderBody()
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="fw-semibold">About Footwear</p>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
                    <ul class="social-icons">
                        <li class="d-inline-block me-2 fs-4"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li class="d-inline-block me-2 fs-4"><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li class="d-inline-block me-2 fs-4"><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li class="d-inline-block me-2 fs-4"><a href="#"><i class="fa-brands fa-skype"></i></a></li>
                    </ul>
                </div>
                <div class="col">
                    <p class="fw-semibold">Customer Care</p>
                    <ul>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Returns/Exchange</a></li>
                        <li><a href="#">Gift Voucher</a></li>
                        <li><a href="#">Wishlist</a></li>
                        <li><a href="#">Special</a></li>
                        <li><a href="#">Customer Services</a></li>
                        <li><a href="#">Site maps</a></li>
                    </ul>
                </div>
                <div class="col">
                    <p class="fw-semibold">Information</p>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Delivery Information</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Order Tracking</a></li>
                    </ul>
                </div>

                <div class="col">
                    <p class="fw-semibold">News</p>
                    <ul>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">Exhibitions</a></li>
                    </ul>
                </div>

                <div class="col">
                    <p class="fw-semibold">Contact Information</p>
                    <ul>
                        <li>291 South 21th Street, <br> Suite 721 New York NY 10016</li>
                        <li><a href="tel://1234567920">+ 0706 437167</a></li>
                        <li><a href="mailto:ntdung8124@gmail.com">ntdung8124@gmail.com</a></li>
                        <li><a href="http://nguyenthanhdung.tk/">nguyenthanhdung.tk</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- SCRIPT -->
    <script src="~/js/jquery/dist/jquery.min.js"></script>
    <script src="~/js/swiper-bundle.min.js"></script>
    <script src="~/js/scrollreveal.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/app.js"  asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>


